<!--<!doctype html>-->
<!--<html lang="zh">-->
<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
<!--  <link rel="icon" href="images/logo.png" sizes="32x32" type="image/png">-->
<!--  <link rel="icon" href="images/logo.png" sizes="16x16" type="image/png">-->
<!--  <meta name="keywords" content="津陵科技,管理,后台">-->
<!--  <meta name="author" content="lilu">-->
<!--  <link rel="stylesheet" href="css/index-icons1.css">-->
<!--  <link rel="stylesheet" href="css/index.css">-->
<!--  <link rel="stylesheet" href="css/index-admin.css">-->
<!--  <title>津陵科技 - 首页</title>-->
<!--</head>-->
<!--<body>-->
<!--<ul class="bsa-header">-->
<!--  <li>-->
<!--    <div class="bsa-header-item bsa-cursor-default bsa-search-form-wrapper">-->
<!--      <form class="bsa-search-form" action="#">-->
<!--        <input type="text" class="form-control bsa-search-form-control" name="keyword" aria-label="搜索关键词"-->
<!--               placeholder="搜索关键词">-->
<!--        <button class="bsa-search-submit-btn" type="submit"><i class="bi bi-search"></i></button>-->
<!--        <button class="bsa-search-close-btn" type="button"><i class="bi bi-x-lg"></i></button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </li>-->
<!--  <li class="bsa-spacer"></li>-->
<!--  <li>-->
<!--    <div class="bsa-header-item bsa-search-form-toggler">-->
<!--      <i class="bi bi-search"></i>-->
<!--    </div>-->
<!--  </li>-->
<!--  <li class="dropdown">-->
<!--    <div class="bsa-header-item" data-bs-toggle="dropdown">-->
<!--      <div class="d-flex align-items-center">-->
<!--        <img src="images/logo.png" class="bsa-user-avatar" alt="用户头像">-->
<!--        <div class="bsa-user-details">-->
<!--          <div class="bsa-fs-15 bsa-ellipsis-1">津陵科技</div>-->
<!--          <div class="bsa-fs-13 bsa-ellipsis-1 bsa-user-role">超级管理员</div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </li>-->
<!--</ul>-->

<!--<div class="bsa-sidebar">-->
<!--  <div class="bsa-sidebar-header">-->
<!--    <img src="images/logo.png" class="bsa-logo-icon" alt="logo-icon">-->
<!--    <div class="bsa-logo-text">津陵科技</div>-->
<!--  </div>-->
<!--  <div class="bsa-sidebar-body">-->
<!--    <ul>-->
<!--      <li>-->
<!--        <a href="http://127.0.0.1:8080/show_user_manage" class="active">-->
<!--          <i class="bi bi-house"></i>用户管理-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="http://127.0.0.1:8080/show_goods_records" class="active">-->
<!--          <i class="bi bi-house"></i>包裹出入库记录-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="bsa-page-wrapper">-->
<!--  <div class="bsa-main"></div>-->
<!--</div>-->

<!--<div class="bsa-footer">-->
<!--  <p class="mb-0">jinling.com</p>-->
<!--</div>-->

<!--<script src="js/bootstrap-admin.min.js"></script>-->

<!--<script>-->
<!--  const main = new BSA.Main({-->
<!--    consoleLog: false,-->
<!--    defaultTabs: [-->
<!--      {-->
<!--        title: '用户管理',-->
<!--        url: 'userManage.html',-->
<!--        close: false-->
<!--      }-->
<!--    ]-->
<!--  });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->